/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Type Size Variables */
/* :root {
	--font-size-base: 0.875rem;
	--font-size-xs: 0.75rem;
	--font-size-s: 0.75rem;
	--font-size-m: 1.125rem;
	--font-size-l: 1.125rem;
	--font-size-xl: 1.875rem;
}

@media only screen and (min-width: 1280px) {
	:root {
		--font-size-m: 1.875rem;
		--font-size-l: 2.5rem;
		--font-size-xl: 4.375rem;
	}
}

@media only screen and (min-width: 1024px) {
	:root {
		--font-size-base: 1.25rem;
		--font-size-xs: 0.75rem;
		--font-size-s: 1rem;
		--font-size-m: 1.625rem;
		--font-size-l: 1.875rem;
		--font-size-xl: 3.375rem;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--font-size-base: 1.125rem;
		--font-size-xs: 0.75rem;
		--font-size-s: 0.875rem;
		--font-size-m: 1.25rem;
		--font-size-l: 1.75rem;
		--font-size-xl: 3.125rem;
	}
} */

/* Spacing Variables */
/* :root {
	--spacing-side: 20px;
	--spacing-xs: 0.625rem;
	--spacing-s: 0.9375rem;
	--spacing-m: 1.5625rem;
	--spacing-l: 3.125rem;
	--spacing-xl: 6.25rem;
}

@media only screen and (min-width: 1024px) {
	:root {
		--spacing-side: 60px;
		--spacing-xs: 1.25rem;
		--spacing-s: 1.5625rem;
		--spacing-m: 2.8125rem;
		--spacing-l: 8.4375rem;
		--spacing-xl: 10.9375rem;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--spacing-xs: 0.9375rem;
		--spacing-s: 1.25rem;
		--spacing-m: 2.1875rem;
		--spacing-l: 4.6875rem;
		--spacing-xl: 8.4375rem;
	}
} */

/* Color Variables And Transitions */
/* :root {
	--background-1: #c00d1e;
	--title-color-1: #c00d1e;
	--title-color-2: #ffff;
	--button-color: #c00d1e;
	--button-hover-color: #c00d1ecc;
	--transition: all 0.3s ease-in;
} */

/* Globals Styles */
/* * {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-size: var(--font-size-l);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.375;
	margin-top: 0;
}

.links {
	color: var(--title-color-1);
	position: relative;
	transition: var(--transition);
}

.links::before {
	content: "";
	background: var(--background-1);
	bottom: 0;
	height: 1.5px;
	margin-top: 2px;
	position: absolute;
	opacity: 0;
	transition: var(--transition);
	width: 0;
}

.links:hover::before {
	opacity: 1;
	transition: var(--transition);
	width: 100%;
} */
