/* Header Styles */
.header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home/header.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	width: 100%;
}

.header .header-content {
	position: relative;
	padding: 45px 48px;
	width: 100%;
}

.header .header-content .header-text h2 {
	color: var(--title-color-2);
	font-size: var(--font-size-xl);
	margin-bottom: var(--spacing-m);
}

.header .header-content .header-text a {
	font-size: var(--font-size-m);
}
